<div id="header">
  <header id="header">
  	<p><a href="/"><img src="/images/header.jpg" alt="JOYBLIND"></a></p>
    <nav class="round">
      <%= link_to "Home", root_path %>
      <%= link_to "Contact", about_path %>
      <%= link_to "Login", login_path %>
    </nav>
  </header>
</div><!-- header end-->