<nav id="navigation">
  <ul>
  <li><a href="#"><h1>About</h1></a></li>

  <li><a href="#"><h1>Contact</h1></a></li>
  <li><a href="#"><h1>Twitter</h1></a></li>
  <li><a href="#"><h1>RSS</h1></a></li>
  </ul>
  <p><br /></p>
</nav>